@keyframes background-rotation {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-270deg);
    }
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $light-clr;
    position: relative;
    margin-bottom: 2rem;
    &__background {
        width: 100%;
        transform: rotate(90deg);
        //animation: background-rotation 60s linear infinite;
    }
    &__noon {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        display: block;
        background-color: $light-clr;
        width: 3px;
        height: 30px;
    }
    &__pupil {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $light-clr;
        display: flex;
        align-items: center;
        justify-content: center;
        output {
            font-size: 1.2rem;
        }
    }
}
