.control-panel {
  display: flex;
  margin: 0 auto;
  &__controller {
    font-size: 1.5rem;
    .minus,
    .play-pause,
    .reset,
    .plus {
      box-sizing: content-box;
      height: 24px;
      padding: .75rem;
      background-color: $light-clr;
      cursor: pointer;
    }
    .minus {
      border-radius: 20px 0 0 20px;
    }
    .plus {
      border-radius: 0 20px 20px 0;
    }
  }
}
